
<div class="top">
  <!-- <button nz-button nzType="primary" class="button1">增加关键字</button> -->
  <button nz-button nzType="primary" class="button1" (click)="showModal()">
    <span>增加关键字</span>
  </button>
  <!-- add对话框 -->
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="加关键字"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isEditOkLoading"
  >
    <ul *nzModalContent>
      <li>
        <span>必须包含：</span><input nz-input placeholder="必须包含的data" [(ngModel)]="inputData.keyword" />
      </li>
      <li>
        <span>可包含:</span><input nz-input placeholder="可包含的data" [(ngModel)]="inputData.may_keyword"/>
      </li>
      <li>
        <span>不包含:</span><input nz-input placeholder="不包含的data" [(ngModel)]="inputData.nokeyword"/>
      </li>
      <li>
        <span>监控屏率:</span><input nz-input placeholder="监控屏率" [(ngModel)]="inputData.frequency"/>
      </li>
    </ul>
  </nz-modal>
  <!-- 编辑对话框 -->
  <nz-modal
  [(nzVisible)]="isEditVisible"
  nzTitle="编辑关键字"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleEdit()"
  [nzOkLoading]="isOkLoading"
  >
    <ul *nzModalContent>
      <li>
        <span>必须包含：</span><input nz-input placeholder="必须包含的data" [(ngModel)]="editData.keyword" />
      </li>
      <li>
        <span>可包含:</span><input nz-input placeholder="可包含的data" [(ngModel)]="editData.may_keyword"/>
      </li>
      <li>
        <span>不包含:</span><input nz-input placeholder="不包含的data" [(ngModel)]="editData.nokeyword"/>
      </li>
      <li>
        <span>监控屏率:</span><input nz-input placeholder="监控屏率" [(ngModel)]="editData.frequency"/>
      </li>
    </ul>
  </nz-modal>
</div>

<!-- 表单 -->
<nz-table #basicTable
      [nzData]="listOfData"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzShowSizeChanger]="true"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
 >
  <thead>
    <tr>
      <th>必须包含</th>
      <th>可包含</th>
      <th>不包含</th>
      <th>监控屏率</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfData ;let i=index">
      <td>{{ data.keyword }}</td>
      <td>{{ data.may_keyword }}</td>
      <td>{{ data.nokeyword }}</td>
      <td>{{ data.frequency }}</td>
      <td>{{i}}
        <nz-divider nzType="vertical"></nz-divider>
        <a [ngStyle]="{'margin':'0 10px'}" (click)="get_id(data.id)">修改</a>
        <!-- <a nzType="dashed" (click)="showDeleteConfirm(data.id)">删除</a> -->
        <a (click)="delete(data.id)">删除</a>
      </td>
    </tr>
  </tbody>

</nz-table>