
.riqi{
  height: 4vw;
  background-color:#FFFCDE;
  border: 1px solid #FFFCDE;
  margin-bottom: 10px;
  display: flex;
  // justify-content: center;
  align-items: center;
}
.riqi2{
  margin-left: 10px;
}
nz-date-picker {
  margin: 0 8px 0 0;
}
//上面日期
