button{
    margin-left: 10px;
}

.main_top{
    background: #FFFCED;
    border: 1px solid #FFFCED;
    line-height: 20px;
    padding: 10px;
    margin-bottom: 10px;    
}
.url{
    width: 200px;   
    word-wrap: break-word;
    word-break: break-all;
}
.red{
    color: red;
}