<div class="login-body">
  <div class="login">
    <div class="login-form">
      <!--  -->
          <div class="username">
            <span class="user">用户名：</span>
            <input type="text"  [(ngModel)]="loginData.username" placeholder="Username" style="width:17rem" />
          </div>
      <!--  -->
          <div class="password">
            <span class="pass">密码：</span>
            <!-- <input type="password" nz-input [(ngModel)]="loginData.password" placeholder="Password" /> -->
            <input type="password" [(ngModel)]="loginData.password" placeholder="Password" style="width:17rem" />
          </div>
      <!--  -->
            <div class="login-idcard">
              <span>驗證碼：</span>
              <input type="text" [(ngModel)]="loginData.verify" placeholder="id"/>
                <span id="svgDom" (click)="getCap()" style="width:150px;height:50px"></span>
            </div>
      <!--  -->
      <!-- <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot">Forgot password</a>
        </div>
      </div> -->
      <div class="button">
        <button nz-button class="login-form-button" (click)="doLogin()" [nzType]="'primary'">Log in</button>
        Or
        <a (click)="showModal()">register now!</a>
        <nz-modal [(nzVisible)]="isVisible" nzTitle="注册" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
          <ng-container *nzModalContent>
            <p>登录api接口失效</p>
            <p>表单内填入信息即可登录</p>
            <p>点击“确定”自动填充信息</p>
          </ng-container>
        </nz-modal>
      </div>
    </div>
  </div>
</div>