.login-body{
  min-height: 100vh;
  background:url('../../../assets/img/bz.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{
  width: 30rem;
  height: 20rem;
  border: 2px solid gray;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.login-form {
  max-width: 400px;
  width: 50vw;
  
  // justify-content: center;
}
.username{
  margin: 2rem auto 1rem auto;
  .user{
    display: inline-block;
    width: 4rem;
    text-align: right;
  }
}
.password{
  margin: 1rem auto 0 auto;
  .pass{
    display: inline-block;
    width: 4rem;
    text-align: right;
  }
}


.login-idcard{
  margin: auto ;
  input{
    width: 8rem;
  }
  span{
    display: inline-block;
    width: 4rem;
    text-align: right;
  }
}
#svgDom{
  cursor: pointer;//鼠标小手
}

.button{
  .login-form-button {
    display:block;
    width: 80%;
    margin: 2rem auto 1rem auto;
  }
}